// Main jumbotron for a primary marketing message or call to action
.jumbotron
    .container
        h1= title
        p Welcome to #{title}
        p
            | Problems with your PC. Why not give us a call?
        p
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »